body {
  background-color: rgb(32, 31, 31);
  color: rgb(241, 241, 241);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Helvetica Neue", sans-serif;
  color: #1de2e9b9;
}

a:link,
a:visited {
  color: rgb(255, 207, 117);
}

strong {
  color: rgb(255, 207, 117);
}

input {
  color: black;
}

input[type="submit"] {
  background-color: rgba(241, 241, 241, 0.952);
  border: 2px solid rgb(171, 245, 161, 0.952);
  border-radius: 50px;
  color: black;
  font-size: medium;
  padding: 9px 20px;
  margin: 3px;
}

input[type="submit"]:hover {
  background-color: rgb(171, 245, 161, 0.952);
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: rgba(246, 6, 6, 0.5);
  padding: 8px;
}

input.delete[type="submit"] {
  background-color: rgba(241, 241, 241, 0.952);
  border: 2px solid rgba(197, 0, 49, 0.952);
  border-radius: 50px;
  font-size: medium;
  color: black;
  padding: 9px 20px;
  margin: 3px;
}

input.delete[type="submit"]:hover {
  background-color: rgba(197, 0, 49, 0.952);
}

input.delete-object[type="submit"] {
  background-color: rgba(228, 36, 84, 0.952);
  border: none;
  border-radius: 0%;
  font-size: medium;
  color: black;
  padding: 3px;
}

a:link.button,
a:visited.button {
  background-color: rgba(241, 241, 241, 0.952);
  color: black;
  font-size: medium;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #1de2e9b9;
  border-radius: 50px;
  margin: 3px;
  width: 14em;
}

a:hover.button {
  background-color: #1de2e9b9;
}

.blocktext,
li {
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
