@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1>ENGINEERS</h1>
<br>
<p>@Html.ActionLink("Add new Engineer", "Create", "Engineers", null, new {@class="button"})</p>