@{
  Layout = "_Layout";
}

<h1>DR. SILLYSTRINGZ'S FACTORY!</h1>
<p class="button">@Html.ActionLink("See all Machines", "Index", "Machines")</p> 
<p class="button">@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
